<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DASP Service</title>
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand navigation-clean" style="background-color: #1D3845">
        <div class="container"><a class="navbar-brand" href="#"
                style="font-family: Montserrat, sans-serif;font-size: 25px;color: rgba(255,255,255,0.9);">DASP -
                Service</a><button class="navbar-toggler" data-bs-toggle="collapse"></button></div>
    </nav>
    <header class="text-center bg-light text-black masthead" style="background-size: cover;height: 700px;">
        <div class="container">
            <div class="row" style="margin-top: 40px;">
                <div class="col-xl-9 mx-auto position-relative">
                    <h1 class="mb-5" style="font-size: 74px;font-family: Montserrat, sans-serif;">DASP - Service</h1>
                    <div class="row">
                        <div class="col">
                            <h1 style="font-size: 35px;font-family: Montserrat, sans-serif;">Tagline goes here</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center bg-light features-icons"
        style="padding-top: 50px;padding-bottom: 50px;margin-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4" style="width: 760px;">
                    <p
                        style="text-align: left;font-family: Montserrat, sans-serif;font-size: 30px;margin-bottom: 10px;">
                        End points</p>
                    <div id="Bullets">
                        <ul class="c-bullets">
                            <li style="text-align: left;font-family: Montserrat, sans-serif;font-size: 21px;">Base: GET
                                /api/getlog<br></li>
                            <li style="text-align: left;font-family: Montserrat, sans-serif;font-size: 21px;">
                                Authentication<br></li>
                            <li style="text-align: left;font-family: Montserrat, sans-serif;font-size: 21px;">Item 3
                            </li>
                            <li style="text-align: left;font-family: Montserrat, sans-serif;font-size: 21px;">Item 4
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col" style="width: 380px;"><img style="width: 300px;height: 400px;"
                        src="../public/img/bg-showcase-2.jpg" alt="DASP"></div>
            </div>
        </div>
    </section>
    <section class="text-center bg-light testimonials" style="padding: 50px 0px;padding-top: 0;">
        <div class="container">
            <h2 class="mb-5" style="font-family: Montserrat, sans-serif;text-align: left;">OUR TEAM</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                        <h5 style="font-family: Montserrat, sans-serif;">Akash Chouhan</h5>
                        <p class="font-weight-light mb-0" style="font-family: Montserrat, sans-serif;">1905156</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                        <h5 style="font-family: Montserrat, sans-serif;">Akriti Anand</h5>
                        <p class="font-weight-light mb-0" style="font-family: Montserrat, sans-serif;">1905157</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                        <h5 style="font-family: Montserrat, sans-serif;">Surya Thangirala</h5>
                        <p class="font-weight-light mb-0" style="font-family: Montserrat, sans-serif;">1905245</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                        <h5 style="font-family: Montserrat, sans-serif;">Kanishk Gupta</h5>
                        <p class="font-weight-light mb-0" style="font-family: Montserrat, sans-serif;">1905902</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                        <h5 style="font-family: Montserrat, sans-serif;">Himanshu Verma</h5>
                        <p class="font-weight-light mb-0" style="font-family: Montserrat, sans-serif;">1905900</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>